<!DOCTYPE html>
<head>
    <title>RPi Relay Control</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>RPi Relay Control</h1>
    {% for pin in pins %}
    <h2>{{ pins[pin].name }}
    {% if pins[pin].state == true %}
     is currently <strong>on</strong></h2>
    <div class="row">
        <div class="col-md-2">
            <a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a>
        </div>
    </div>
    {% else %}
     is currently <strong>off</strong></h2>
    <div class="row">
        <div class="col-md-2">
            <a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</body>

</html>
